@import url('../fonts/Inter/stylesheet.css');
@import url('../fonts/Inter/stylesheet.css');
@import url('../fonts/icons/style.css');

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'NotoSansJP', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #414141;
}

a {
  text-decoration: none;
  color: #414141;
  transition: all .3s ease;

  &:hover {
    color: #fff;
  }
}

p,
i,
span,
img {
  transition: all .3s ease;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ps__rail-y {
  background-color: #777 !important;
  border-radius: 10px;
  width: 10px !important;
}

.ps__thumb-y {
  width: 6px !important;
  background-color: #ffcc21 !important;
}
