@font-face {
  font-family: 'healthy';
  src:  url('healthy.eot?ovcyw2');
  src:  url('healthy.eot?ovcyw2#iefix') format('embedded-opentype'),
    url('healthy.ttf?ovcyw2') format('truetype'),
    url('healthy.woff?ovcyw2') format('woff'),
    url('healthy.svg?ovcyw2#healthy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="healthy-"], [class*=" healthy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'healthy' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.healthy-challenge:before {
  content: "\e900";
}
.healthy-record:before {
  content: "\e901";
}
.healthy-notification:before {
  content: "\e902";
}
.healthy-menu:before {
  content: "\e903";
}
.healthy-meal:before {
  content: "\e905";
}
.healthy-close:before {
  content: "\e904";
}
.healthy-snack:before {
  content: "\e906";
}
